<nz-collapse>
  <nz-collapse-panel [nzHeader]="'基本信息'" [nzActive]="true">
      <div nz-row nzGutter="16">
          <div nz-col nzSpan="8">
            <div style="background: #ECECEC;padding:30px;">
            <nz-card [nzBordered]="false" nzTitle="个人" style="height: 300px;">
              <div style="font-size: 30px">
                  <p>姓名：{{realName}}</p>
                  <P></P>
                  <p>信息<span style="color: red">
                    <a (click)="AuthorizSchoolInfo()">{{isAuthoriz ? '已' : '未'}}</a>
                  </span>认证</p>
              </div>
              </nz-card>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <app-office-chart ></app-office-chart>
          </div>
          <div nz-col nzSpan="8">
              <app-dormitory-chart ></app-dormitory-chart>
            </div>
        </div>
  </nz-collapse-panel>
  <nz-collapse-panel [nzHeader]="'待办事项'">
    <app-todo-items></app-todo-items>
  </nz-collapse-panel>
  <nz-collapse-panel [nzHeader]="'个人旅程'">
    <app-time-line></app-time-line>
  </nz-collapse-panel>
</nz-collapse>
<app-notify-message #notifyMessage></app-notify-message>


